name: test

on:
  push:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.17.0'
      - name: go vet
        run: go vet ./...
      - name: Run tests
        run: go test -v -cover -race ./...
