name: test

on:
  pull_request:
    paths:
      - .github/workflows/test.yml
      - .golangci.yml
      - go.mod
      - '**.go'
      - '**.txtar'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      # Related issue: https://github.com/golangci/golangci-lint/issues/580
      - name: Windows - ensure LF line endings for gofmt
        if: matrix.os == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - name: Run linters
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: latest
          args: --timeout=3m
      - name: go vet
        run: go vet ./...
      - name: Run acceptance tests
        run: make testacc
